<app-header></app-header>

<div class="about-us">
    <div class="about-us-content">
        <img src="https://images.unsplash.com/photo-1629732047356-30c7e14e712b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Body Image"  class="mainimg">
        <h2>About Us</h2>
        <p>At DeepSkin, we believe that everyone deserves to feel confident in their own skin. Our mission is to empower you to achieve your skincare goals and embrace your natural beauty.

            With a passion for skincare and a commitment to quality, we've curated a collection of premium skincare products and resources to help you on your skincare journey. Whether you're looking to address specific skin concerns or simply pamper yourself, we've got you covered.
            
            What sets us apart is our personalized approach to skincare. Our skincare analysis quiz helps you identify your unique skin type, concerns, and preferences, allowing us to tailor product recommendations to your individual needs.
            </p>
    </div>
</div>