{% extends 'home/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community - DeepBeauty</title>
    <link rel="stylesheet" href="{% static 'pages/style.css' %}">
    <style>
        /* Additional CSS styles */
        .comment-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    {% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <h2 class="text-center">Create a Post</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-custom" style="background-color: rgb(148, 211, 136)">Create Post</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Recent Posts</h2>
                {% for post in posts %}
                <div class="comment-box mb-3 p-3 border">
                    <p>Name: {{ post.names }}</p>
                    <p>Comment: {{ post.content }}</p>
                    <p>{{ post.created_at }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
    
</body>
</html>
