{% extends 'home/base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 mb-5">
            <img height="300px" src="{{ item.item_image}}" class="card"/>
        </div>
        <div class="col-md-6 mt-5 mb-5">
            <h1>Brand: {{ item.item_name }}</h1>
            <h3>Description: {{ item.item_desc }}</h3>
            <h3>Skinype: {{ item.item_skintype }}</h3>
            <br>
            <h4>{{ item.item_prodtype }}</h4>
            <h4>Price: ${{ item.item_price }}</h4>
            <p>Ingredients: {{ item.item_ingre }}</p>
        </div>
    </div>
</div>

{% endblock %}