{% extends 'home/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pages/style.css' %}">
    <title>DeepBeauty</title>


</head>
<body>

    {% block body %}
    <div class="container">
        <div class="row center-content">
            <div class="col-md-12 mt-4">
                <h1>Welcome to DeepBeauty</h1>
            </div>
        </div>
        <div class="container">
            <div class="row mt-4 justify-content-center">
                <div id="carouselExampleIndicators" class="carousel slide" style="height: 450px;">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/sixth.jpg' %}" class="d-block w-100" style="height: 450px;" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/secondimage.jpg' %}" class="d-block w-100" style="height: 450px;" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/fourth.jpg' %}" class="d-block w-100" style="height: 450px;" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                    <div class="card mt-3 card-body" style="width: 80%; margin: 0 auto;">
                        <div class="card-body">
                            <h5 class="card-title">About Us</h5>
                            <p class="card-text">
                                At DeepSkin, we believe that everyone deserves to feel confident in their own skin. Our mission is to empower you to achieve your skincare goals and embrace your natural beauty.
                                <br><br>
                                With a passion for skincare and a commitment to quality, we've curated a collection of premium skincare products and resources to help you on your skincare journey. Whether you're looking to address specific skin concerns or simply pamper yourself, we've got you covered.
                                <br><br>
                                What sets us apart is our personalized approach to skincare. Our skincare analysis quiz helps you identify your unique skin type, concerns, and preferences, allowing us to tailor product recommendations to your individual needs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 justify-content-center">
                <div class="col-md-6">
                    <div class="image-container">
                        <img src="{% static 'images/skin_care_image.jpg' %}" class="img-fluid" alt="Skin Care">
                    </div>
                    <div class="card mt-3 content-card">
                        <div class="card-body">
                            <h5 class="card-title">Take Our Skin Quiz</h5>
                            <p class="card-text">Discover the best products for your skin type and concerns by taking our skin quiz.</p>
                            <a href="{% url 'quiz' %}" class="btn btn-custom justify-content-center" style="background-color: rgb(148, 211, 136)">Take Quiz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

</body>
</html>
