{% extends 'home/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeepBeauty</title>
</head>
<body>

    {% block body %}

    <form action="" method="GET">
        <label for="item_prodtype">Product Type:</label>
        <input type="search" id="item_prodtype" name="item_prodtype">
    
        <label for="item_name">Product Name:</label>
        <input type="search" id="item_name" name="item_name">
        
        <button type="submit">Search</button>
    </form>

        {% for item in item_list %}
            <div class="row align-items-center">
                <div class="col-md-3 offset-md-2">
                    <img class="card-img" src="{{ item.item_image }}" alt="Item Image"/>
                </div>
                <div class="col-md-4">
                    <h3>{{ item.item_name }}</h3>
                    <h5>{{ item.item_desc }}</h5>
                    <h6>${{ item.item_price }}</h6>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'home:detail' item.id %}" class="btn btn-success">Ingredients</a>
                </div>
            </div>

        {% endfor %}
    
        <div class="pagination">
            {% if item_list.has_previous %}
                <a href="?page=1"> First </a>
                <a href="?page={{ item_list.previous_page_number }}"> Previous </a>
            {% endif %}
            
            Page: {{ item_list.number }} of {{ item_list.paginator.num_pages }}
    
            {% if item_list.has_next %}
                <a href="?page={{ item_list.next_page_number }}"> Next </a>
                <a href="?page={{ item_list.paginator.num_pages }}"> Last </a>
            {% endif %}
        </div>
    {% endblock %}


</body>
</html>
