<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="producttab.component.css">
    <title>Skincare Application</title>
    <style>
        
    </style>
</head>
<body>

<div class="header">
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/NYcG7CL/logo-DB.png" alt="logo-DB"  class="logo"></a>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </nav>
</div>

<div class="search-bar">
    <form action="#" method="get">
        <input type="text" placeholder="Search..." name="search">
        <input type="submit" value="Search">
    </form>
</div>

<div class="body-content">

</div>

</body>
</html>
